@charset "utf-8";
/*html5 reset*/
ul, li, ol, p {
    list-style: none
}
h4, h5, em {
    font-style: normal;
    font-weight: 400
}
h3 {
    font-style: normal;
    font-weight:normal;
}
a {
    color: #4d525d;
    text-decoration: none;
}
.hide{display:none}
.clearfix:after {clear: both;display: table;content: " "}
.fl {
    float:left
}
.fr {
    float:right;
}
.gray {
    background:#f2f2f2
}
body{background-color: #eee;padding: 0;min-width: 300px; max-width: 667px;margin: 0 auto;}
/*index app downlond*/
.app-download-wrapper{overflow:hidden;position: relative;}
.app-download.half{display:block;float:left;width:50%;}
.app-download.half img{width:100%;height:auto;}
.app-download img{width: 100%;}
.close-app-download{position:absolute;right:.5rem;top:.5rem;display:inline-block;width: 1.25rem;height:1.25rem;background:url(../images/close-app-download.png) no-repeat center center;background-size: 1.25rem 1.25rem}
/*guide page*/
.landing{position: fixed;width:100%;height:101%;top:0;left:0;z-index:99;overflow:hidden;background-color: #fff;background-size:cover;transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);}
.landing em{display:block;}
.landing .top{height:75%;width:100%;font-size:.9rem;overflow:hidden;position:relative;background-color: #fff;background: url(../images/landing-bg.png) center center no-repeat; background-size: cover;}
.landing .top p{display:block;height:7.25rem;width:8.5rem;margin:0 auto;position:absolute;top:50%;left:50%;}
.landing .top span{display:block;height:100%;width:100%;background:url(../images/landing-logo.png) center top no-repeat;background-size:4.7rem 4.7rem;position:relative;margin-top:-3.625rem;margin-left:-4.25rem;}
.landing .top span a{display:block;width:100%;text-align:center;position:absolute;bottom:0;left:0;height:1.9rem;line-height:1.9rem;border:1px solid #3c3c46;color:#3c3c46;border-radius:.95rem;}
.landing .bottom{height:25%;width:100%;font-size:.8rem;color:#fff;overflow:hidden;position:relative;bottom:0;left:0;}
.landing .bottom .left,.landing .bottom .right{display:block;position:relative;overflow: visible;}
.landing .bottom .left{width:70%;left:0;z-index:2;}
.landing .bottom .right{width:80%;left:30%;z-index:1;}
.landing .bottom .left em,.landing .bottom .right em{position:absolute;top:0;border-radius:15rem;}
.landing .bottom .left em{width:20.625rem;height:20.625rem;background-color:#ff6057;right:0;}
.landing .bottom .right em{width:20.625rem;height:20.625rem;background-color:#ff463c;left:0;}
.landing .bottom .link{position:absolute;top:50%;left:0;height:100%;width:100%;}
.landing .bottom ul{position:relative;margin-top:-.5rem;z-index:3;overflow:hidden;}
.landing .bottom ul li{height:100%;float:left;width:50%;display:block;text-align:center;}
.landing .bottom ul li a{display:inline-block;color:white;line-height:2rem;}

header{background-color:#ffffff; width: 100%;position:relative;height:2.2rem;border-bottom: solid 1px #e4e4e4;}
.dd-logo {vertical-align: middle;position:absolute;top:0;left:0;height:2.2rem;width:2.5rem;
}
.dd-logo a{display:block;width:100%;height:100%;text-indent:-999rem;background:url(../images/dd-logo.png) center center no-repeat;background-size:1.5rem 1.05rem;}
.header-category{position:absolute;top:0;right:0;font-size:0.55rem;text-align:center;color:#4d525d;width:2.45rem;height:2.2rem;}
.header-category a{display:block;width:100%;height:100%;overflow:hidden;color:#4d525d;}
.header-category a::before{display:block;width:0.975rem;height:0.925rem;background:url(../images/header-category.png) no-repeat center center;background-size:contain;content: "";margin:0.35rem auto 0 auto;}
.header-category a em{display:block;line-height:0.575rem;height:0.575rem;margin-top: .1rem;}

.search_box{position:relative;height:2.2rem;margin:0 2.5rem 0 2.75rem;overflow: hidden;}
.search_box .logo_img{position:absolute;width: 1.5rem;height: 1.05rem;left:.5rem;top:.6rem;}

.search_box .search{height:1.5rem;margin:.35rem auto;position: relative;background: #e4e4e6;display:block;border-radius:.9rem;-webkit-border-radius:.9rem;}
.search_box .search .text_box{margin-right:2rem;padding-left:.65rem;}
.search_box .search .text{width:100%;border:none;height:1rem;line-height:1rem;outline:none;font-size:.7rem;padding:.25rem 0;color:#656a73;background: #e4e4e6;display:block;}
.search_box .search .submit{width: 1.75rem;height: 1.5rem;position: absolute;right: 0px;top: 0px;background:#ff463c url(../images/search-btn.png) no-repeat center center;background-size: 40%;border:none;border-top-right-radius: .9rem;-webkit-border-top-right-radius: .9rem;  border-bottom-right-radius: .9rem;-webkit-border-bottom-right-radius: .9rem;border-bottom-left-radius: 0;-webkit-border-bottom-left-radius: 0;border-top-left-radius: 0;-webkit-border-top-left-radius: 0;}
.search_box_focus{padding-left: 3.25rem;}
/*iphone6*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (-webkit-min-device-pixel-ratio : 2)
{
    header{background-color:#ffffff; width: 100%;position:relative;height:44px;border-bottom: solid 1px #e4e4e4;}
    .dd-logo {vertical-align: middle;position:absolute;top:0;left:0;height:44px;width:40px;}
    .dd-logo a{display:block;width:100%;height:100%;text-indent:-999rem;background:url(../images/dd-logo.png) center center no-repeat;background-size:30px 21px;}
    .header-category{position:absolute;top:0;right:0;font-size:11px;text-align:center;color:#4d525d;width:49px;height:44px;}
    .header-category a{display:block;width:100%;height:100%;overflow:hidden;color:#4d525d;}
    .header-category a::before{display:block;width:19.5px;height:18.5px;background:url(../images/header-category.png) no-repeat center center;background-size:contain;content: "";margin:7px auto 0 auto;}
    .header-category a em{display:block;line-height:11.5px;height:11.5px;margin-top: 2px;}

    .search_box{position:relative;height:44px;margin:0 53.5px 0 50px;overflow: hidden;}
    .search_box .logo_img{position:absolute;width: 30px;height: 21px;left: 10px;top: 12px;}

    .search_box .search{height: 30px;margin:7px auto;position: relative;background: #e4e4e6;display:block;border-radius:18px;-webkit-border-radius:18px;}
    .search_box .search .text_box{margin-right:40px;padding-left:13px;}
    .search_box .search .text{width:100%;border:none;height:20px;line-height:20px;outline:none;font-size:14px;padding:5px 0;color:#656a73;background: #e4e4e6;display:block;}
    .search_box .search .submit{width:35px;height:30px;position: absolute;right: 0;top: 0;background:#ff463c url(../images/search-btn.png) no-repeat center center;background-size: 40%;border:none;border-top-right-radius: 18px;-webkit-border-top-right-radius: 18px;  border-bottom-right-radius: 18px;-webkit-border-bottom-right-radius: 18px;border-bottom-left-radius: 0;-webkit-border-bottom-left-radius: 0;border-top-left-radius: 0;-webkit-border-top-left-radius: 0;}
    .search_box_focus{padding-left: 65px;}
}

.search_list{width: 100%;position: absolute;left: 0;top: 2.2rem;border-top: 1px solid #dcdcdc;z-index: 2000;background-color: #fff;box-shadow: 0 1px 3px #ccc;padding-bottom: 1px;display:none;}
.search_list ul{margin-bottom: 10px;}
.search_list ul li{padding: 0 10px;}
.search_list ul li a{display: block;height: 2.2rem;line-height: 2.2rem;border-bottom: 1px solid #e5e5e5;color:#323232;font-size: .7rem}
.search_list ul li a .num{float: right;color: #646464;}
.search_list ul li:last-child{border-bottom: 1px solid #e5e5e5;}
.search_list ul li:last-child a{border-bottom: 0;}
.search_list .clear_search{display: block;width: 86%;margin: 0 auto;height: 1.6rem;text-align: center;line-height: 1.6rem;border:1px solid #dcdcdc;}

/*seckill*/
.seckilling{padding: 0 .25rem;margin-top: .25rem;}
.seckilling-box{background: #fff;}
.seckilling-box .seckilling-title{height: 1.7rem;line-height: 1.7rem;padding: .5rem .5rem 0 .5rem;}
.seckilling-box .seckilling-title span{float: left;display: block;height: .9rem;}
.seckilling-icon{background: url(../images/seckilling-alarm.png) no-repeat center center;background-size: .75rem .75rem}
.seckilling-box .seckilling-title .seckilling-name{float: left;color: #4d525d;margin-right:.625rem;font-size: .75rem;line-height: .9rem;}
.seckilling-box .seckilling-title .seckilling-icon{width: .75rem;margin-right: .25rem;}
.seckilling-box .seckilling-title .s_t span{width: .6rem;margin-right: .05rem;background-color: #31343a;color:#fff;font-size: 0.65rem;text-align: center;line-height: .9rem;-webkit-border-radius:.1rem;border-radius:.1rem;}
.seckilling-box .seckilling-title .s_d{display: inline-block;margin-right: .05rem;width: .25rem;height: .9rem;line-height: .9rem;text-align: center;font-size: .7rem;font-weight: bold;}
.seckilling-box li{float: left;width: 33%;}
.seckilling-box li.line1{margin-left:0.5%;}
.seckilling-box li a{padding:0 .25rem;display: block;}
.seckilling-box li a img{display: block;width: 100%;}
.seckilling-box li .name{padding: 0 .25rem;font-size: .6rem;height: 1rem;line-height: 1rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.seckilling-box li .price{padding: .1rem 0 .2rem;color: #fe435d;font-size: .475rem;}
.seckilling-box li .price .rob{font-size: .6rem;}
.seckilling-box li .price .discount{display:inline-block;float: right;overflow:hidden;margin-top:.05rem;width:1.5rem;height:.625rem;background-color:#fe435d;color: #fff;font-size: .475rem;text-align: center;-webkit-border-radius:.1rem;border-radius:.1rem;}

/* top slider*/
.top-slider-wrapper{margin: .25rem .25rem 0 .25rem;}
.top-slider{position: relative;}
.index-slider,.banner-slider{position: relative;width: 100%;overflow: hidden;}
.index-slider ul li a img,.banner-slider ul li a img{width: 100%;height: auto;display: block;}
.index-slider ul li,.banner-slider ul li{display: block;float: left;text-align: center;}
.top-slider-indicator,.banner-slider-indicator{overflow: hidden;text-align: center;position: absolute;bottom: .25rem;right: .25rem;background-color:rgba(0,0,0,.5);border-radius: .3rem;-webkit-border-radius: .3rem;padding-left: .25rem;transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);}
.dot{float: left;margin: .075rem .25rem .076rem 0;width: .3rem;height: .3rem;line-height: 0;display: inline-block;background-color: rgba(255,255,255,.8);border-radius: .25rem;-webkit-border-radius: .25rem;font-size: 0;text-indent: -9999px;}
.on{background-color: #ff463c}
/* top nav*/
.index-nav {overflow:hidden;margin: 0 .25rem;background-color: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;}
.index-nav li{display: inline-block;width: 23%;height: 3.35rem;padding:.1rem 0;}
.index-nav li img{display: block;margin: .25rem auto;width: 1.85rem;height: 1.85rem;}
.index-nav li span{display: block;font-size: .55rem;text-align: center;}

/*banner*/
.banner{margin:.25rem .25rem 0 .25rem;}
.banner img{width: 100%;}

/* floor */
.floor{margin:.25rem .25rem 0 .25rem;background-color:#fff;}
.floor h2{position:relative;overflow:hidden;border-bottom:1px solid #eee;}
.floor h2 a{display:block;height:1.7rem;line-height:1.7rem;}
.floor h2 .title{color:#4a525d;font-size:.75rem;text-indent:.25rem;}
.floor h2 .more{position:absolute;right:0;top:0;width:2.25rem;font-size:.6rem;color:#fe435d;background:url(../images/more-arrow.png) 1.4rem center no-repeat;background-size:.6rem;}
.floor dl{overflow:hidden;}
.floor dl dt,.floor dl dd{float:left;display:block;width:50%;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.floor dl dd{border-left:1px solid #eee;border-bottom:1px solid #eee;}
.floor dl dd:last-child{border-bottom:0 none;}
.floor dl a{display:block;width:100%;height:100%;}
.floor dl img{width:100%;height:auto;}
/* market */
.market{margin:.25rem .25rem 0 .25rem;background-color:#fff;}
.market h2{border-bottom:1px solid #eee;}
.market h2 .title{display:block;height:1.7rem;line-height:1.7rem;color:#4d525d;font-size:.75rem;text-indent:.25rem;}
.market ul{list-style:none;overflow:hidden;}
.market ul li{float:left;border-bottom:1px solid #eee;position:relative;display:block;width:50%;}
.market ul li:nth-child(2n+1)::after{content:"";display:block;font-size:0;width:0;height:100%;position:absolute;right:0;top:0;border-left:1px solid #eee;}
.market ul a{display:block;width:100%;}
.market ul img{width:100%;height:auto;}

/*recommend product*/
.rec-prds-wrapper .title{display: block;height: 1.7rem;line-height: 1.7rem;color: #4d525d;font-size: .75rem;text-indent: .25rem;}
.rec-prds{position: relative;margin-bottom:1.7rem;width: 100%;height: 7.35rem;overflow: hidden;}
.rec-prds ul{width:0;height: 7.35rem;}
.rec-prds ul li{float:left;display:block;width:5rem;height:7.25rem;margin: 0 .25rem .25rem 0;}
.rec-prds a{display: block;background-color: #fff;}
.rec-prds li a img {display: block;width: 100%;}
.rec-prds .rec-prds-detail{padding: 0 .25rem .25rem .25rem;}
.rec-prds .rec-prds-name{display: -webkit-box;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 1.3rem;font-size: .5rem;line-height:.7rem;}
.rec-prds p{width: 4.5rem;}
.rec-prds .price{color: #fe435d;font-size: .475rem;text-align: left;}
.rec-prds .price .rob{font-size: .6rem;}
.rec-prds .price .discount{float: right;margin: .1rem .1rem 0 0;width:1.5rem;height:.625rem;line-height:.625rem;background-color:#fe435d;color: #fff;font-size: .475rem;text-align: center;-webkit-border-radius:.1rem;border-radius:.1rem;}

/*¶¯Ì¬·µ»Ø¶¥²¿*/
.fixed_box { position: fixed; bottom: .5rem; right: .5rem;display: none; }