extends ../backstage_layou

block content
	.layui-body(style="margin-top:100px; margin-left:20px; margin:80px 20px 0px 20px;")
		blockquote.layui-elem-quote.news_search			
			.layui-inline
				a.layui-btn.layui-btn-normal(href="/admin/brand/new") 添加新品牌
		table.layui-table
			thead
				tr
					th 品牌名称						
					th 查看
					th 录入时间
					th 更新
					th 删除
				tbody
					each item in brands
						tr(class="item-id-#{item._id}")
							td #{item.name}								
							td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
							td: a(target="_blank",href="javascript:;") 查看
							td: a(target="_blank",href="javascript:;") 修改
							td 
								button.layui-btn.layui-btn-danger(type="button",date-id="#{item._id}") 删除
	script(src="/js/admin.js")
	script.
		$('dd:contains(品牌管理)').addClass('layui-this');
