html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")   
        link(rel="stylesheet", href="/m_css/base.css")
        link(rel="stylesheet", href="/m_css/index.css")
        link(rel="stylesheet", href="/m_css/swiper-3.4.2.min.css")
        title 移动端首页
    body
        .jd_container
            header.jd_search
                .jd_search_box
                    a.icon_logo
                    form
                        span.icon_search
                        input(type="search",placeholder="Iphone 7 Plus 免费")
                    a.login 登陆
            //-.jd_banner 
            .jd_banner             
                .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            img(src="images/banner-(1).jpg", alt="",width="100%")
                    .swiper-slide
                        a(href="#")
                            img(src="images/banner-(2).jpg", alt="",width="100%")
                    .swiper-slide
                        a(href="#")
                            img(src="images/banner-(3).jpg", alt="",width="100%")
                .swiper-pagination &nbsp;
                //-ul.clearfix
                    li
                        a(href="#")
                            img(src="images/banner-(3).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(1).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(2).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(3).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(1).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(2).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(3).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(1).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(3).jpg", alt="")
                    li
                        a(href="#")
                            img(src="images/banner-(3).jpg", alt="")
                //-ul
                    li.now
                    li
                    li
                    li
                    li
                    li
                    li
                    li
            nav.jd_nav
                ul.clearfix
                    li
                        a(href="#")
                            img(src="images/nav0.png", alt="")
                            p 分类
                    li
                        a(href="#")
                            img(src="images/nav1.png", alt="")
                            p 分类                            
                    li
                        a(href="#")
                            img(src="images/nav2.png", alt="")
                            p 分类                            
                    li
                        a(href="#")
                            img(src="images/nav3.png", alt="")
                            p 分类 
                    li
                        a(href="#")
                            img(src="images/nav4.png", alt="")
                            p 分类 
                    li
                        a(href="#")
                            img(src="images/nav5.png", alt="")
                            p 分类 
                    li
                        a(href="#")
                            img(src="images/nav6.png", alt="")
                            p 分类 
                    li
                        a(href="#")
                            img(src="images/nav7.png", alt="")
                            p 分类 
            .jd_product
                section.jd_proBox
                    .pro_tit.nb
                        .f_left
                            span.sk_icon
                            span.sk_text
                            .sk_time
                                span
                                span
                                span
                                span
                                span
                                span
                                span
                                span
                        .f_right
                            a.m_r10(href="#") 更多
                    .pro_con
                        ul.sk_product.clearfix      
                            li
                                a(href="#")
                                    img(src="images/big_1.jpg", alt="")
                                    p.now_price ￥100
                                    p.old_price ￥100
                section.jd_proBox
                    .pro_tit
                        h3  京东自营
                    .pro_con.clearfix
                        a.w_p50.f_left.b_right(href="#")
                            img(src="images/cp1.png", alt="")
                        a.w_p50.f_right.b_bottom(href="#")
                            img(src="images/cp2.png", alt="")
                        a.w_p50.f_right(href="#")
                            img(src="images/cp3.png", alt="")
                section.jd_proBox
                    .pro_tit
                        h3  京东新品
                    .pro_con.clearfix
                        a.w_p50.f_right.b_left(href="#")
                            img(src="images/cp4.jpg", alt="")
                        a.w_p50.f_left.b_bottom(href="#")
                            img(src="images/cp5.png", alt="")
                        a.w_p50.f_left(href="#")
                            img(src="images/cp6.png", alt="")
                section.jd_proBox
                    .pro_tit
                        h3  京东自营
                    .pro_con.clearfix
                        a.w_p50.f_left.b_right(href="#")
                            img(src="images/cp1.png", alt="")
                        a.w_p50.f_right.b_bottom(href="#")
                            img(src="images/cp2.png", alt="")
                        a.w_p50.f_right(href="#")
                            img(src="images/cp3.png", alt="")
        foot.m_foot
            ul
                li 
                    a(href="/m")
                        img(src="/images/icon4.png", alt="")
                li 
                    a(href="/m/category")
                        img(src="/images/icon2.png", alt="")
                li 
                    a(href="#")
                        img(src="/images/icon3.png", alt="")
                li 
                    a(href="#")
                        img(src="/images/icon1.png", alt="")                               
        script(src="/js/m_js/swiper-3.4.2.min.js")        
        script(src="/js/m_js/index.js")
        script(src="/js/m_js/common.js")
        script(src="/js/m_js/zepto.min.js")     
              
           
        